.env
.gitignore
.idea/
bin/
node_modules/
/package-lock.json
.DS_Store
dist/*
dist/web/*
build/*
!build/icons
coverage
npm-debug.log
npm-debug.log.*
thumbs.db
.idea/*
!.gitkeep
data/tmp/
.tmp/
tmp/
.cache
dist
build
public/
ToDoList.iml
package-lock.json

