<!Doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>To Do</title>
    <meta charset="UTF-8">



</head>

<body>
<div>

    <label>
         Task: <input type="text" name="task">
    </label>
    <button type="submit">Add</button>
</div>

</body>
</html>