<!doctype html>

<html lang="en">
<% include layouts/head.ejs %>

<body>
<div>
<form method="post" class="login">
    <h2>Log in</h2>
    <div class="form-group">
        <label for="login-login">Login</label>
        <input type="text" id="login-login" name="login"/>
    </div>
    <div class="form-group">
        <label for="login-password">Password</label>
        <input type="password" id="login-password" name="password"/>
    </div>
    <div>
        <button class="login-button">Log in</button>
    </div>
</form>
</div>

<div>
<form method="post" class="register">
    <h2>Registration</h2>
    <div class="form-group">
        <label for="register-login">Login</label>
        <input type="text" id="register-login" name="login"/>
    </div>
    <div class="form-group">
        <label for="register-password">Password</label>
        <input type="password" id="register-password" name="password"/>
    </div>
    <div class="form-group">
        <label for="register-password-confirm">Confirm Password</label>
        <input type="password" id="register-password-confirm" name="passwordConfirm"/>
    </div>
    <div class="buttons">
        <button class="register-button">Registration</button>
    </div>
</form>
</div>
<p></p>

<script>
    $(document).ready(() => {

            $('#register-button').on('click', (e) => {
                e.preventDefault();

                let data = {
                    login: $('#register-login').val(),
                    password: $('#register-password').val(),
                    passwordConfirm: $('#register-password-confirm').val()
                }
              $.ajax({
                  type: 'POST',
                  data: JSON.stringify(data),
                  contentType: 'application/json',
                  url: '/enter'
              }).done(data =>{
                  if (!data.ok) {
                      alert(data.error);
                      if (data.fields) {
                          data.fields.forEach(function(item) {
                              $('input[name=' + item + ']').addClass('error');
                          });
                      }
                  } else {
                      $('.register h2').after('<p class="success">Отлично!</p>');
                  }
              });

            });
        });



</script>
</body>
</html>













